[Unit]
Description=Franbot service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/franbot/start.sh
User=%u

[Install]
WantedBy=multi-user.target
