[Unit]
Description=Franbot Dev service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/repos/franbot-dev/start.sh
User=%u

[Install]
WantedBy=multi-user.target
